.navigation {
  background-color: #303030;
  height: 4rem;
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.navigation .navigation_logo h1 {
  color: #fff;
  font-size: 30px;
}

.navigation .navigation_menu {
  list-style-type: none;
  display: flex;
  gap: 2em;
  align-items: center;
}

.navigation .navigation_menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  border-radius: 12px;
}

.navigation .navigation_menu li a:hover {
  background-color: rgb(41, 62, 95);
  transition: 0.3s;
  color: #fff;
}

.navigation_button {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation_button span {
  cursor: pointer;
  color: rgb(255, 35, 35);
  font-size: 20px;
}

.navigation_button a {
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
  font-size: 13px;
}

.nav_actions {
  display: flex;
  align-items: center;
}

.nav_actions input {
  padding: 10px 70px;
  background-color: transparent;
  border: 0.7px solid grey;
  border-radius: 6px;
}

.nav_actions button {
  padding: 10px;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
}

.user_img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.user_img img {
  width: 30px;
  border: 2px solid #fff;
  border-radius: 60px;
}

.user_img h3 {
  color: #fff;
}
