.navigation {
  background-color: #fff;
  height: 4rem;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.navigation .navigation_logo h1 {
  color: #000000;
  font-size: 30px;
}

.navigation .navigation_menu {
  list-style-type: none;
  display: flex;
  gap: 2em;
  align-items: center;
}

.navigation .navigation_menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  padding: 16px;
  border-radius: 12px;
}

.navigation .navigation_menu li a:hover {
  background-color: rgb(41, 62, 95);
  transition: 0.3s;
  color: #fff;
}

.navigation_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navigation_button span {
  cursor: pointer;
  color: rgb(255, 35, 35);
  font-size: 20px;
}
