.todo_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 400px;
  position: relative;
  padding: 20px;
  border-radius: 20px;
}

.todo_item .todo_item_img img {
  width: 100%;
}

.todo_item span {
  background-color: rgb(146, 204, 255);
  padding: 1em;
  font-weight: bold;
}

.todo_item .todo_item_actions {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 12px;
}
